
include mixins/asset-mixins
include mixins/asset-mixins-angular


mixin image-link(src)
  a(href=src): img.screenshot(src=src)


!!!
html(lang='en', ng-app='42.splash-page')

  head
    title 42

    block meta
      include includes/mobile-meta-tags
      meta(charset="utf-8")

    block css
      mixin css("default")


  body(ng-controller="MainController")

    header
      .header-content
        img.logo-black(src="/assets/images/logo-black.png", alt="42 logo")
        form(name="form", ng-submit="signup(email)", novalidate, ng-show="!signupDone")
          input#signup-email(
            ng-model="email",
            required,
            name="email",
            type="email",
            placeholder="Be the first to know!"
          )
          button#signup-button(type="submit") Sign Up

        .thanks(ng-show="signupDone")
          h1 Thanks a bunch! We'll keep you posted :)

    section.signup(ng-controller="SignupController")

      img.logo(src="/assets/images/logo.png", alt="42 logo")

      h1.tagline
        | Retail experience, reinvented.

      

      //- img.brands(src="/assets/images/brands-black.png")

    section.intro
      article
        .lefttext
          p 
            | What is 42?

            | We only focus on one thing: to give you a personalized retail experience.

            | Today if you walked into store 10 times, few stores would have an idea of what you like as a customer. I only buy dress shirts, why am I getting emails about spring floral dresses?

    section.intro
      article
        .lefttext
          p
            | Every customer cares about different things. Maybe you're someone who values being the first to know of new items, being notified of sales, or only getting suggestions for shirts that go well with your closet full of jeans. 

    section.tag
      h2 
        | It's our job to make the mass world of brick & mortar more tailored to you. 

    section.consumer
      article
        h1 Brave New (Retail) World

        img.dashboard(src="/assets/images/dashboard.png")

        p.left
          | Retail stores should function like eCommerce sites.
          br
          br
          | Take everything you love about online retail and bring that offline. Now you have the best of both worlds: personal recommendations, and the touch and feel of the in-store experience.

          | It's what your retail experience should be like. 


        p.right
          | Recommendations, just for you.
          br
          br
          | We use a simple digital ID to identify your purchases. At checkout, the cashier will scan your ID barcode like any other item, and we'll send personalized recommendations that goes well with your purchases.


    section.retailer
      article.centered
        h1 Are you a retailer? 
        p
          | 42's New enterprise platform is quick to set-up, and turns your most complex data into a simple, visual dashboard. 

          | We work with some of the most innovative brands in retail. <a>Send us a note</a>, and we'll help you better understand your customers. 

      img(src="/assets/images/mba.png")
          
      

    section.referral
      article
        h1 Know a retailer?

        p.centered If you know a brand that would benefit from 42, help us <a>spread the word</a>!<br>We've included a brief bio for you.

    section.featured
      article
        h1 As Seen in

        .featured-logos
          img(src="/assets/images/techcrunch.png")
          img(src="/assets/images/fashionweek.png")

    section.testimonials

    section.team
       mixin image-link("/assets/images/")

    footer
      section.links
        a(href="mailto:team@42debut.com")
          | Contact Us

        a(href="mailto:team@42debut.com")
          | Are you a retailer?

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    block js-libs
      mixin js-lib("scripts")
      mixin js-lib("angular")
      mixin js-lib("lodash")
      mixin js-lib("zepto")

    block app
        mixin app-core("app")
        mixin app-controller("main")
        mixin app-controller("signup")