
include mixins/asset-mixins
include mixins/asset-mixins-angular


mixin image-link(src)
  a(href=src): img.screenshot(src=src)


!!!
html(lang='en', ng-app='42.splash-page')

  head
    title 42

    block meta
      include includes/mobile-meta-tags
      meta(charset="utf-8")

    block css
      mixin css("default")


  body(ng-controller="MainController")

    section.signup(ng-controller="SignupController")

      img.logo(src="/assets/images/logo.png", alt="42 logo")

      h1.tagline
        | The Ultimate Trendsetter

      form(name="form", ng-submit="signup(email)", novalidate, ng-show="!signupDone")
        input#signup-email(
          ng-model="email",
          required,
          name="email",
          type="email",
          placeholder="Be the first to know!"
        )
        button#signup-button(type="submit") send

      .thanks(ng-show="signupDone")
        h1 Thanks a bunch! We'll keep you posted :)

      //- img.brands(src="/assets/images/brands-black.png")


    section.closet
      .closet-inner
        section.info
          h1 Fashion &amp; Tech
          p
            | 42 is a modern retail platform that brings together the two of the world's
            | most influential industries: fashion and technology.
            br
            br
            | Let's revolutionize the shopping experience. Imagine having the power of
            | "Recommended for You" and Pinterest when shopping in stores. What if there
            | was a way for us to have a digital closet of things we've bought in stores?
            | For brands to notify us only for pieces we actually like?

        //- mixin image-link("/assets/images/screenshot-closet.png")
        img.shoes(src="/assets/images/shoes.png")

    section.description: p
      | How would you like to be on a first name basis with Louis?
      | 42 uses the power of technology to help brands understand you.


    section.card
      .card-inner
        section.info
          h1
            | Be the Ultimate Trendsetter.
            br
            | Work on what's next.

          p
            | Interested in an internship? We're looking for the
            | brightest people with a passion for fashion and/or
            | technology.
            br
            a(href="mailto:team@42debut.com")
              |  Tell us why you'd be a great fit!

        mixin image-link("/assets/images/screenshot-receipt.png")

    footer
      section.links
        a(href="mailto:team@42debut.com")
          | contact us

        a(href="mailto:team@42debut.com")
          | are you a retailer?


    block js-libs
      mixin js-lib("angular")
      mixin js-lib("lodash")
      mixin js-lib("zepto")

    block app
      mixin app-core("app")
      mixin app-controller("main")
      mixin app-controller("signup")