
include mixins/asset-mixins
include mixins/asset-mixins-angular


mixin image-link(src)
  a(href=src): img.screenshot(src=src)


!!!
html(lang='en', ng-app='42.splash-page')

  head
    title 42

    block meta
      include includes/mobile-meta-tags
      meta(charset="utf-8")

    block css
      mixin css("default")

    block js-libs
      mixin js-lib("angular")
      mixin js-lib("lodash")
      mixin js-lib("zepto")

    block app
      mixin app-core("app")

      //- mixin app-service("experiences")
      //- mixin app-service("technologies")

      mixin app-controller("main")
      mixin app-controller("signup")

      //- mixin app-controller("experiences")
      //- mixin app-controller("technologies")

      //- mixin app-directive("task")


  body(ng-controller="MainController")

    section.signup(ng-controller="SignupController")

      img.logo(src="/assets/images/logo.png", alt="42 logo")

      h1.tagline
        | The Ultimate Trendsetter

      form(name="form", ng-submit="signup(email)", novalidate, ng-show="!signupDone")
        input#signup-email(
          ng-model="email",
          required,
          name="email",
          type="email",
          placeholder="Be the first to know!"
        )
        button#signup-button(type="submit") send

      .thanks(ng-show="signupDone")
        h1 Thanks a bunch! We'll keep you posted :)


    section.closet

      section.closet-inner
        section.info
          h1 Fashion &amp; Tech
          p
            | 42 brings together the two of the world's most influential
            | industries: fashion and technology.
            br
            br
            | With 42, your in-store purchases are automatically catalogued
            | into your virtual closet. You can search and categorize your
            | clothes by color, style, or even by the weather!

        mixin image-link("/assets/images/screenshot-closet.png")

    section.description: p
      | Wouldn't it be great if your favorite store could notify you when they
      | have a sale on an item you'd <em>actually</em> want?


    section.card

      section.card-inner
        mixin image-link("/assets/images/screenshot-card.png")

        section.info
          h1 Be the Ultimate Trendsetter.<br>Work on what's next.
          p
            | Interested in an internship? We're looking for the
            | brightest people with a passion for fashion and/or
            | technology.
            br
            a(href="mailto:team@42debut.com")
              |  Tell us why you'd be a great fit!

    footer
      section.links
        a(href="mailto:team@42debut.com")
          | contact us

        a(href="mailto:team@42debut.com")
          | are you a retailer?
