include mixins/asset-mixins
include mixins/meta-tag-mixins


!!!
html(lang='en')

  head
    title 42 - Retail experience, reinvented

    block meta
      //- include includes/mobile-meta-tags
      meta(charset="utf-8")

      //- Do not remove this!
      meta(name="google-site-verification", content="dnjj2jOQblrqtU6tz9FQ9MEWxIsf5mi96ZOyFULVsak")

      mixin meta-author('42')
      mixin meta-description('Retail experience, reinvented')

    block js
      mixin js-lib("jquery")
      mixin js-lib("lodash")
      //- Move this out of libs
      mixin js-lib("scripts")

    block app
        mixin app-core("app")

    block css
      mixin css("default")


  body

    header.signup
      img.logo-black(src="/assets/images/logo-black.png", alt="42 logo")

      form#email-form(name="emailForm", action=".", method="post")
        input#signup-email(
          required,
          name="email",
          type="email",
          placeholder="Be the first to know!"
        )
        button#signup-button(type="submit") Sign Up

      .thanks(style="display:none")
        h2 Thanks! We'll keep you posted :)


    section.splash
      img.logo(src="/assets/images/logo.png", alt="42 logo")
      h2 retail experience, reinvented


    section.intro.first
      article
        h2
          | What is 42?
        p
          | We only focus on one thing: to give you a personalized retail experience.
          | Today if you walked into store 10 times, few stores would have an idea of
          | what you like as a customer. I only buy dress shirts, why am I getting emails
          | about spring floral dresses?
        img.hmmm(src="/assets/images/hmmm.jpg")


    section.intro
      article
        p
          | Every customer cares about different things.
          br
          br
          | Maybe you're someone who values being the first to know of new items,
          | being notified of sales, or only getting suggestions for shirts that
          | go well with your closet full of jeans. 
        img.newsletter(src="/assets/images/newsletter.png")


    section.tag
      h2 It's our job to make the mass world of brick &amp; mortar more tailored to you. 


    section.consumer
      article
        h2 Brave New (Retail) World

        .left
          header
            | Retail stores should function like eCommerce sites.
          p
            | Take everything you love about online retail and bring that offline.
            | Now you have the best of both worlds: personal recommendations, and
            | the touch and feel of the in-store experience. It's what your retail
            | experience should be like. 

        .right
          header
            | Recommendations, just for you.
          p
            | We use a simple digital ID to identify your purchases. At checkout,
            | the cashier will scan your ID barcode like any other item, and we'll
            | send personalized recommendations that goes well with your purchases.


    section.retailer
      article.centered
        h2
          | Are you a retailer? 
        p
          | 42's New enterprise platform is quick to set-up, and turns your most
          | complex data into a simple, visual dashboard.  We work with some of
          | the most innovative brands in retail. <a href="mailto:team@42debut.com">Send us a note</a>
          | , and we'll help you better understand your customers. 

      img(src="/assets/images/mba.png")


    section.referral
      article
        h2 Know a retailer?

        p.centered
          | If you know a brand that would benefit from 42, help us
          |  <a href="mailto:team@42debut.com">spread the word</a> !
          br
          | We've included a brief bio for you.


    section.testimonials
      article
        h2 What people say about 42

        blockquote
          p
            | The customization and personalization is great! This is what I expect
            | in customer experience: when a brand values your <b>personal identity</b>.
          footer
            | Tendi M

        blockquote
          p
            | This will be a <b>game changer</b> for brands wanting to reach their clients.
          footer
            | Ekaterina D

        blockquote
          p
            | I love that it's personalized and not generic. It will <b>bring me into stores</b>
            |  and make me feel closer to the brand.
          footer
            | Phoebe Y

        blockquote
          p
            | One of the most <b>disruptive</b> things on the front-end that we've seen in a while.
          footer
            | Uri M


    section.featured
      .featured-logos

        a.featured-logo(href="http://techcrunch.com/2013/04/29/42-is-the-answer-to-everything-in-personalized-analytics-for-retail/")
          img.tc(src="/assets/images/tc-logo.png", alt="TechCrunch Disrupt NYC 2013 Article")

        a.featured-logo(href="http://hack.decodedfashion.com/")
          img.fw(src="/assets/images/fashionweek.png", alt="Decoded Fashion Hackathon")


    section.team

      mixin team-member(name, title, twitterHandle, img, github)
        .team-member
          img(src=img, alt=name)
          article
            h3= name
            h4= title
            br
            br
            if github
              a(href="//github.com/#{twitterHandle}") @#{twitterHandle}
            else
              a(href="//twitter.com/#{twitterHandle}") @#{twitterHandle}

      article
        h2 The Team

        mixin team-member('Cathy Han',        'CEO',       'cathyxhan',    '/assets/images/team/cathy.gif')
        mixin team-member('Lucas Lemanowicz', 'Developer', 'Lucas3677',    '/assets/images/team/lucas.gif')
        mixin team-member('Nicolas Porter',   'CTO',       'surjikal',     '/assets/images/team/nicolas.gif', true)
        mixin team-member('Sarah Hum',        'Designer',  'sarahhum',     '/assets/images/team/sarah.gif')
        mixin team-member('Wayne Spiegel',    'Designer',  'waynespiegel', '/assets/images/team/wayne.gif')

    footer
      a(href="mailto:team@42debut.com")
        | Are you a retailer? Contact Us!